@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$l_blue: #80e2ff;
$l_yellow: #ffd36a;
$black: #182327;

* {
    margin: 0;
    padding: 0;
}

@mixin heading1($color: $black) {
    font-family: "Sentient-Bold";
    font-size: 4.3rem;
    color: $color;
    line-height: 4.35rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin heading2($color: $black) {
    font-family: "Sentient-Bold";
    font-size: 2.6rem;
    color: $color;
    line-height: 2.65rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin heading3($color: $black) {
    font-family: "Sentient-Bold";
    font-size: 1.3rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}

@mixin heading3-bold($color: $black) {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 1.3rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin heading3-semi($color: $black) {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 1.3rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}

@mixin heading4($color: $black) {
    font-family: "Manrope";
    font-size: 1.2rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}

@mixin button1($color: $black) {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 1rem;
    color: $color;
    line-height: 1.3rem;
    letter-spacing: 0%;

    margin: 0;

    cursor: pointer;
}
@mixin button2($color: $black) {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 1.1rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;

    cursor: pointer;
}

@mixin paragraph1($color: $black) {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 1.2rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin paragraph2($color: $black) {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 1.1rem;
    color: $color;
    line-height: 1.35rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin paragraph3($color: $black) {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 1rem;
    color: $color;
    line-height: 1.3rem;
    letter-spacing: 0%;

    margin: 0;
}
@mixin paragraph4($color: $black) {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 0.85rem;
    color: $color;
    line-height: 1.3rem;
    letter-spacing: 0%;

    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;

    &__logo {
        width: 40px;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;

        &__ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;

            gap: 42px;

            &__li {
                &__a {
                    @include paragraph3();
                }
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 22px;

        &__search {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 15px 92px 15px 14px;

            gap: 10px;

            border: 1px solid #d8e0e2;
            border-radius: 8px;

            &__input {
                @include paragraph4();
                border: none;
                outline: none;

                &::placeholder {
                    @include paragraph4(#cacaca);
                }
            }
        }

        &__account {
            display: flex;
            align-items: center;
            justify-content: center;

            &__icon {
                width: 22px;
                height: 22px;
                padding: 15px;
                background: $black;
                border-radius: 50px;
            }
            &__signup {
                @include button1(#fff);

                padding: 12px 24px;
                background: $black;

                border-radius: 25px;

                border: none;
                outline: none;

                margin-left: 22px;
            }
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}

.hero {
    background: url(./../assets/hero-bg.png) center / cover no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 20px 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            gap: 37px;

            &__title {
                @include heading1();
            }

            &__description {
                @include paragraph1();
                width: 560px;
            }
            &__button {
                @include button1(#fff);
                border-radius: 8px;
                border: none;
                background: $black;
                padding: 15px 36px;
            }
        }

        &__right {
            & img {
                width: 495px;
                height: 500px;
                position: relative;
                top: 25px;
                left: 70px;
            }
        }
    }
}

.rating {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 70px;

    & .section__title {
        @include heading2();
        width: 650px;
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 130px;

        & > img {
            width: 550px;
        }

        .card__info {
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            &__title {
                @include heading3();
            }

            &__stars {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }

            &__price {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                gap: 10px;

                & span:nth-child(1) {
                    @include paragraph3();
                }
                & span:nth-child(2) {
                    @include heading3-bold(#000);
                }
            }

            &__description {
                @include paragraph3();

                line-height: 150%;
            }

            &__buttons {
                display: flex;
                align-items: center;
                justify-content: center;

                margin-top: 10px;

                gap: 28px;

                &__button__buy-now {
                    @include button1(#fff);
                    border-radius: 8px;
                    border: none;
                    background: $black;
                    padding: 15px 36px;
                }
                &__button__see-more {
                    @include button1(#000);
                    border: none;
                    padding: 15px 36px;
                    background: transparent;
                }
            }
        }
    }
}
